<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to "Q&A", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-btn">
        <button class="btn btn-primary" data-toggle="modal" data-target="#new-question-modal">Ask a Question</button>
      </li>
    </ul>

  </div>
</nav>